h1{
    text-align: center;
    margin-top: 2%;
}
h2 {
    text-align: center; 
}

.main {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    margin-top: 30px;
    background-color: #fbfad3b2;
    padding: 10px;
}

body {
    background-image: url('airsoft bc.jpg');
    background-repeat: no-repeat;
    background-size: 2000px 1200px;

}

#img1{
    margin-left: 50px;
    margin-right: 50px;
}
#img2 {
    margin-left: 145px;
    margin-right: 145px;
}
button{
    border-radius: 6px;
    cursor: pointer;
    top: 5px;
    position: fixed;
} 