h1 {
    text-align: center;
    margin-top: 2%;
}
.hobbies {
    
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 80%;
    height: 450px;
    background-color: #fbfad3b2;
    size: fixed;
}
.individual {
    margin:5%;
    margin-left: auto;
    margin-right: auto;
    background-color: #c6e377;
    width: 260px;
    height: 260px;
   
}
.individual h2{
    text-align: center;
}
.individual img{
    margin-left: auto;
    margin-right: auto;
}



.individual:hover{
    display: block;
    margin:5%;
    margin-left: auto;
    margin-right: auto;  
    color: green;
    width: 260px;
    box-shadow: 10px 10px 10px black;
    width:300px ;
    height:300px;
    height: auto;
    cursor: pointer;
}
body {
    background-image: url('forest2.jpg');
    background-repeat: no-repeat;
    background-size:2000px 1200px ;

}

.footer{
    background-color: #fbfad3;
    height: 25px; 
    width:100%;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
}
.header {
    width: 100%;
    background-color: #fbfad3;
    left: 0;
}